.sec4_contact {
	background-color: #FD5001;
	padding: 100px 0;
	height: 100vh;
	.title {
		position: relative;
		h2 {
			color: #fff;
			&::after {
				// background-color: #131313;
				display: none;
			}
		}
	}
	.me{
		position: absolute;
		top: 50px;
		right: 0;
		transform: rotate(90deg);
		>h2{
			font-size: 18rem;
			font-weight: bold;
			position: relative;
			display: inline-block;
			&::after{
				content: '';
				display: block;
				width: 200px;
				height: 15px;
				background-color: #fff;
				position: absolute;
				top: 50%;
				right: -220px;
				transform: translateY(-50%);
			}
		}
	}
	.cont_wrap{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		.cont_item{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.icon_wrap{
			width: 170px;
			height: 170px;
			border-radius: 50%;
			background-color: #09477F;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: 60%;
			}
		}
		.wrap_title{
			display: flex;
			align-items: center;
			margin-top: 8px;
			p{
				font-size: 2.4rem;
			}
			button{
				cursor: pointer;
				img{
					width: 60%;
				}
			}
		}
		.txt{
			font-size: 3.2rem;
			font-weight: bold;
			margin-top: 16px;
		}
	}
}