.sec4_contact {
	background-color: #FD5001;
	padding: 100px 0;
	// min-height: 100vh;
	position: relative;
	.title {
		position: relative;
		h2 {
			color: #fff;
			// margin-bottom: 80px;
			&::after {
				// background-color: #131313;
				display: none;
			}
		}
	}
	.me{
		position: absolute;
		top: 50px;
		right: 0;
		transform: rotate(90deg);
		>h2{
			font-size: 18rem;
			font-weight: bold;
			position: relative;
			display: inline-block;
			&::after{
				content: '';
				display: block;
				width: 200px;
				height: 15px;
				background-color: #fff;
				position: absolute;
				top: 50%;
				right: -220px;
				transform: translateY(-50%);
			}
		}
	}
	.cont_wrap{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		// position: absolute;
		// top: 0;
		// left: 0;
		// z-index: 0;
		.cont_item{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: calc(70% / 2);
			margin: 8vh 0 14vh;
		}
		.icon_wrap{
			width: 120px;
			height: 120px;
			border-radius: 50%;
			background-color: #09477F;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: 50%;
			}
		}
		.wrap_title{
			display: flex;
			align-items: center;
			margin-top: 8px;
			p{
				font-size: 2.4rem;
			}
			button{
				cursor: pointer;
				img{
					width: 60%;
				}
			}
		}
		.txt{
			font-size: 3.2rem;
			font-weight: bold;
			margin-top: 16px;
		}
	}
}

// 1280px
@media screen and (max-width:1280px) {
	
} // 1280px

// 1024px
@media screen and (max-width:1024px) {
	.title {
		>h2 {
			transform: translateX(-40px);
			font-size: 14rem;
			&::after {
				content: '';
				width: 140px;
				height: 140px;
			}
		}
	}
	.sec4_contact {
		.title {
			h2 {
				&::after {
					// background-color: #131313;
					display: none;
				}
			}
		}
		.me{
			display: none;
			top: auto;
			bottom: 0;
			right: 30px;
			transform: rotate(0);
			>h2{
				font-size: 14rem;
			}
		}
	}
} // 1024px

// 991px
@media screen and (max-width:991px) {
	
} // 991px

// 768px
@media screen and (max-width:768px) {
	.sec4_contact {
		min-height: auto;
		padding: 60px 0;
		.cont_wrap{
			flex-direction: column;
			.cont_item{
				width: 100%;
				margin: 5vh 0;
			}
			.icon_wrap{
				width: 100px;
				height: 100px;
				background-color: #09477F;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.wrap_title{
				display: flex;
				align-items: center;
				margin-top: 8px;
				p{
					font-size: 2.4rem;
				}
				button{
					cursor: pointer;
				}
			}
			.txt{
				font-size: 3.2rem;
				font-weight: bold;
				margin-top: 16px;
			}
		}
	}
} // 768px

// 480px
@media screen and (max-width:480px) {
	.sec4_contact {
		// padding: 60px 0;
		.title {
			h2 {
				font-size: 9rem;
			}
		}
	}
	
} // 480px