.sec3_work {
	background-color: #fff;
	padding: 160px 0;
	.title {
		>h2 {
			color: #FD5001;
			&::after {
				background-color: #131313;
			}
		}
	}
	.design{
		transform: rotate(180deg);
		h2{
			color: #09477F;
			&::after{
				display: none;
			}
		}
	}
	p{
		color: #131313;
	}
	.project_wrap,.study_wrap{
		width: 100%;
		border-top: #131313 solid 2px;
		.inner{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			.cont_wrap{
				width: 72%;
				// width: 1000px;
				// flex: 1;
			}
		}
		.sub_title{
			// width: 400px;
			width: 28%;
			h3{
				color: #FD5001;
				font-size: 5rem;
				font-weight: 500;
				padding-top: 40px;
			}
		} 
	}

	.project_wrap{
		.sub_title{
		}
		.inner{
			position: relative;
		}
		.cont_wrap{
			border-left: #131313 solid 2px;
			padding: 40px;
			.mySwiper{
				// width: 600px;
				width: 100%;
				position: static;
				.swiper-button-prev{
					width: 100px;
					height: 100px;
					border-radius: 50px;
					border: solid #131313 2px;
					top: auto;
					bottom: 40px;
					left: 30px;
					&::after{
						content:url('../../public/asset/ICON_left_arrow.svg');
					}
				}
				.swiper-button-next {
					width: 100px;
					height: 100px;
					border-radius: 50px;
					border: solid #131313 2px;
					top: auto;
					bottom: 40px;
					left: 150px;
					&::after{
						content:url('../../public/asset/ICON_right_arrow.svg');
					}
				}
			}
			.swiper-wrapper{
				// width: 80%;
			}
			.swiper-slide.swiper_item{
				// background-color: #09477F;
				// width: 80%;
				// max-width: 600px;
				p{
					font-size: 2rem;
					margin-top: 20px;
					font-weight: bold;
				}
				img{
					width: 100%;
					border: #FD5001 solid 10px;
				}
			}
		}
	}
	.study_wrap{
		.cont_wrap{
			.study_item{
				padding: 40px;
				border-bottom: #131313 solid 2px;
				.item_title{
					width: 500px;
					p{
						display: inline-block;
						font-size: 3rem;
						&:first-child{padding-right: 20px;}
					}
				}
				.item{
					display: flex;
					align-items: flex-start;
					>p{
						font-size: 2rem;
					}
				}
			}

		}
	}
}