// font
.lang_en {
	font-family: 'Archivo', sans-serif;
}
.lang_en_narrow {
	font-family: 'Archivo Narrow', sans-serif;
}


// main
.main {
	// margin-top: 100px;
}
section{
	overflow: hidden;
}

// header
header {
	background-color: #131313;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	.inner{
		height: 100%;
	}
	.header_wrap {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: #fff solid 2px;
	}
	.logo{
		a{
			width: 125px;
			height: auto;
			display: inline-block;
		}
		img{
			width: 100%;
		}
	} 
	.menu ul {
		display: flex;
		gap: 20px;

		li {
			font-size: 2.6rem;
			cursor: pointer;
		}
	}
}

// 1280px
@media screen and (max-width:1280px) {
	
} // 1280px

// 1024px
@media screen and (max-width:1024px) {
	
} // 1024px

// 991px
@media screen and (max-width:991px) {
	
} // 991px

// 768px
@media screen and (max-width:768px) {
	// header
	header {
		height: 80px;
		.header_wrap {
			justify-content: center;
		}
		.logo{
			a{
				width: 90px;
				height: auto;
				display: inline-block;
			}
		} 
		.menu {
			display: none;
		}
	}
} // 768px

// 480px
@media screen and (max-width:480px) {
	
} // 480px