.detail_main {
	margin-top: 100px;
	overflow: hidden;
	.title {
		padding-top: 90px;
		>h2 {
			font-size: 12rem;
			transform: none;
			margin-bottom: 70px;
			&::after {
				width: 12rem;
				height: 12rem;
				right: -9%;
				top: -20%;
			}
		}
	}
	.sub_title_wrap{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 50px;
		.sub_title{
			font-size: 3.2rem;
			font-weight: 500;
		}
	}
	.tag_wrap{
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: flex-start;
		.tag_item{
			background-color: #09477F;
			border-radius: 30px;
			font-size: 2rem;
			font-weight: bold;
			padding: 8px 30px;
			display: flex;
			align-items: center;
			text-align: center;
		}
	}

	img {
		width: 100%;
	} 

	.about_wrap{
		display: flex;
		margin: 100px auto 80px;
		justify-content: space-between;
		.about_title{
			width: 30%;
			>p{
				font-size: 7rem;
				font-weight: bold;
			}
			.look_wrap{
				display: flex;
				gap: 20px;
			}
			.look{
				margin-top: 30px;
				color: #fff;
				padding: 16px 40px;
				background-color: transparent;
				border: solid 2px #fff;
				border-radius: 50px;
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
				cursor: pointer;
				background-color: transparent;
        overflow: hidden;
        position: relative;
				.site::after, .git::after {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 0;
					background-color: #007bff;
					transition: width 0.3s ease; /* 너비 변화에 대한 애니메이션 속성 */
				}
				&:hover .site::after{
					width: 100%; /* 마우스를 올렸을 때 너비를 100%로 설정하여 채우기 효과 적용 */
				}
			}
		}
		.about_detail, .issue_detail{
			width: 65%;
			p{
				font-size: 3rem;
				font-weight: 400;
				line-height: 1.5;
				word-break: keep-all;
			}
			>div:not(:last-child){
				margin-bottom: 40px;
			}
		}

		
		.about_plan{
			>p:not(:last-child){
				margin-bottom: 30px;
			}
		}

		p.subdesc_title{
			font-weight: bold;
			margin-bottom: 10px;
		}
		.about_date, .about_people{
			display: flex;
			align-items: baseline;
			gap: 8px;
			.subdesc_title{
				margin-bottom: 0;
			}
			.date{
				// font-size: 2.4rem;
			}
		}
		.about_color{
			.color_wrap{
				display: flex;
				gap: 16px;
				flex-wrap: wrap;
			}
			.color{
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 40px;
				>p{
					font-size: 2rem;
					padding: 16px 24px;
				}
			}
		}
		.contri_wrap{
			>p{
				font-size: 2.4rem;
			}
		}
		.issue_wrap{
			.issue_item{
				margin-bottom: 32px;
				p{
					margin-bottom: 16px;
				}
			}
			h3{
				display: inline-block;
				padding: 8px 20px;
				border-radius: 50px;
				// border: #fff solid 2px;
				font-size: 2rem;
				background-color: #09487fab;
				margin-bottom: 8px;
			}
		}
	}
}


// 1280px
@media screen and (max-width:1280px) {
	.detail_main {
		.title {
			>h2 {
				margin-bottom: 40px;
			}
		}
		.sub_title_wrap{
			flex-direction: column-reverse;
			gap: 20px;
			align-items: flex-end;
		}
		.tag_wrap{
			justify-content: flex-end;
		}
		
		.about_wrap{
			flex-direction: column;
			gap: 40px;
			margin: 80px auto 60px;
			.about_title{
				width: 100%;
				br{
					display: none;
				}
				.look{
					margin-top: 20px;
				}
			}
			.about_detail, .issue_detail{
				width: 100%;
			}
		}
	}
} // 1280px

// 1024px
@media screen and (max-width:1024px) {
	.detail_main {
		.title {
			padding-top: 70px;
		}
	}
} // 1024px

// 991px
@media screen and (max-width:991px) {
	
} // 991px

// 768px
@media screen and (max-width:768px) {
	.detail_main {
		margin-top: 80px;
		.title {
			padding-top: 40px;
			>h2 {
				font-size: 8rem;
				&::after {
					width: 8rem;
					height: 8rem;
				
				}
			}
		}
		.sub_title_wrap{
			margin-bottom: 40px;
			.sub_title{
				font-size: 3rem;
				text-align: right;
			}
		}
		.tag_wrap{
			gap: 10px;
			.tag_item{
				padding: 8px 20px;
				// font-size: 1.6rem;
			}
		}
		.about_wrap{
			margin: 60px auto 50px;
			.about_title{
				>p{
					font-size: 5rem;
				}
				.look{
					margin-top: 30px;
					color: #fff;
					padding: 12px 30px;
					font-size: 2rem;
				}
			}
			.about_detail, .issue_detail{
				p{
					font-size: 2.5rem;
				}
				>div:not(:last-child){
					margin-bottom: 30px;
				}
			}
			.about_plan{
				>p:not(:last-child){
					margin-bottom: 30px;
				}
			}
			.about_color{
				.color_wrap{
					display: flex;
					gap: 16px;
					flex-wrap: wrap;
				}
				.color{
					>p{
						padding: 10px 16px;
					}
				}
			}
		}
	}
} // 768px

// 480px
@media screen and (max-width:480px) {
	.detail_main {
		margin-top: 60px;
		.title {
			>h2 {
				font-size: 5rem;
				// margin-bottom: 40px;
				&::after {
					width: 5rem;
					height: 5rem;
				}
			}
		}
		.sub_title_wrap{
			margin-bottom: 30px;
			align-items: center;
			gap: 16px;
			.sub_title{
				text-align: center;
				font-size: 2.6rem;
			}
		}
		.tag_wrap{
			// gap: 20px;
			justify-content: center;
			width: 100%;
			.tag_item{
				width: calc((100% - 10px) / 2);
				padding: 8px 0;
				justify-content: center;
			}
		}
		.img_wrap.inner{
			padding: 0;
		}
		.about_wrap{
			margin: 40px auto;
			.about_title{
				>p{
					font-size: 3.2rem;
				}
				.look_wrap{
					gap: 10px;
				}
				.look{
					font-size: 1.8rem;
					margin-top: 20px;
					padding: 8px 20px;
				}
			}
			.about_detail, .issue_detail{
				p{
					font-size: 1.8rem;
				}
				>div:not(:last-child){
					// margin-bottom: 40px;
				}
			}
			.about_color{
				.color_wrap{
					.color >p{
						font-size: 1.7rem;
					}
					gap: 8px;
					flex-wrap: nowrap;
					overflow-x: scroll;
				}
			}
			.issue_wrap{
				.issue_item{
					margin-bottom: 16px;
					p{
						margin-bottom: 12px;
					}
				}
				h3{
					padding: 6px 12px;
					font-size: 1.4rem;
				}
			}
		}
	}
} // 480px