// section 1 
// $header_h: 100px;
.sec1_home {
	width: 100%;
	// height: calc(100vh - $header_h);
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&::after{
		content: '';
		display: inline-block;
		position: absolute;
		width: 460px;
		height: 460px;
		background-color: #FD5001;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);
	}
	.title_wrap {
		// width: 100%;
		// height: 100%;
		// display: flex;
		// align-items: center;
		p{
			font-size: 6rem;
		}
		h1{
			font-size: 10rem;
		}
	}
	.sec1_btm {
		position: absolute;
		bottom: 60px;
		left: 0;
		width: 100%;
		.inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		.name {
			p{
				font-size: 4.8rem;
				font-weight: bold;
				position: relative;
				&::after{
					content: '';
					width: 40px;
					height: 40px;
					display: inline-block;
					background-color: #FD5001;
					border-radius: 50%;
					position: absolute;
					right: -15%;
					top: -15%;
					z-index: -1;
				}
			}
		}
		.scroll_down{
			width: 100px;
			height: 100px;
			border: solid 2px #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			p{
				text-align: center;
				font-size: 2rem;
				padding-bottom: 8px;
			}
			img{
				width: 26px;
			}
		}
	}
}

.title{
	// transform: translateX(-140px);
	>h2{
		transform: translateX(-60px);
		font-size: 18rem;
		font-weight: bold;
		position: relative;
		display: inline-block;
		margin-bottom: 100px;
		&::after{
			content: '';
			width: 180px;
			height: 180px;
			display: inline-block;
			background-color: #FD5001;
			border-radius: 50%;
			position: absolute;
			right: -12%;
			top: -18%;
			z-index: -1;
		}
	}
}

@import './section2';
@import './section3';
@import './section4';