@charset "utf-8";
// Archivo & Archivo Narrow 폰트 
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
// font-family: 'Archivo', sans-serif;
// font-family: 'Archivo Narrow', sans-serif;

// Pretendard variable 폰트
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
// font-family: 'Pretendard Variable';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
	color: #fff;
}
* {
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	// line-height: 1;
	font-size: 10px !important;
	min-width: 320px;
	font-family: 'Pretendard Variable';
	position: relative;
	overflow-x: hidden;
	background-color: #131313;
	&::-webkit-scrollbar{
		width: 10px;
	}
	&::-webkit-scrollbar-track{
		border-radius: 0;
		background-color: #131313;
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 15px;
		background-color: #ddd;
		&:hover{
			background-color: #09477F;
		}
	}
}
/* 드래그 선택 스타일 추가 */
::selection {
  background-color: #09477F; /* 선택한 부분의 배경 색상 */
  color: #fff; /* 드래그하는 텍스트의 글자 색상 */
}
button{
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}
ol, ul, li, a {
	list-style: none;
	text-decoration: none;
	color: #fff;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	font-size: 10px !important;
	font-family: 'Pretendard Variable';
}
input, textarea {
	border: 0;
	padding: 0;
	margin: 0;
}
input:focus, textarea:focus{
	outline: none;
}

// 768px
@media screen and (max-width:768px) {
	html, body{font-size: 8px !important;}
} // 768px